<mat-card class="cn-card ">

    <div class="card-title"  *ngIf="fullEdit">
        <input class="title-in font" matInput placeholder="Title" >
        <div class="pin-div" (click)="togglePin()" matTooltip="Pin note" matTooltipPosition='below'>
            <div role="button" class="pin" [ngClass]="pin ? 'pinned-back' : 'unpinned-back'"> 
            </div>
        </div>
    </div>
    
    <div class="note-input" (click)=displayFull()>
        <div contenteditable="true" aria-multiline="true" role="textbox"  data-placeholder="Take a note..." class="notes-main" aria-label="Take a note…" tabindex="0" spellcheck="true"></div>
        <div class="img-upload" *ngIf="!fullEdit"></div>
    </div>
    <div class="card-bottom" id="bottom" *ngIf="fullEdit">
        <div class="note-prop">
            <div class="reminder prop" role="button" matTooltip="Remind me" matTooltipClass="prop-tip" matTooltipPosition='below'></div>
            <div class="collaborator prop" role="button" matTooltip="Collaborator" matTooltipPosition='below'></div>
            <div class="back-img prop" role="button" matTooltip="Add image" matTooltipPosition='below'></div>
            <div class="archive prop" role="button" matTooltip="Archive" matTooltipPosition='below'></div>
            <div class="more-opn prop" role="button" matTooltip="More" matTooltipPosition='below'></div>
            <div class="undo prop" role="button" matTooltip="Undo" matTooltipPosition='below'></div>
            <div class="redo prop" role="button" matTooltip="Redo" matTooltipPosition='below'></div>
        </div>
        <div class="close-note">
            Close
        </div>
    </div>
</mat-card>