<mat-card class="reminder">
    <div class="reminder-txt" >Reminder:</div>  
    <div class="tom remsel" gaid="tomorrowmorningselected" role="menuitem" id=":4g" >
        <div class="tomo">
            <div class="tom1" style="user-select: none;">Tomorrow</div>
            <div class="tom2" style="user-select: none;">8:00 AM</div>
        </div>
    </div>
    <div class="remsel" gaid="nextweekselected" role="menuitem" id=":4h" style="user-select: none;">
        <div class="week" style="user-select: none;">
            <div class="" style="user-select: none;">Next week</div>
            <div class="" style="user-select: none;">Mon, 8:00 AM</div>
        </div>
    </div>
    <div class="remsel" role="menuitem" id=":4l" style="user-select: none;">
        <div class="" style="user-select: none;">
            <div class="dt" style="user-select: none;">Pick date &amp; time</div>
        </div>
    </div>
</mat-card>
  