.FunDooNotes{
    margin: auto;
  margin-left: 7%;
  margin-top: 3%;
  font-size: 15pt;
  margin-bottom: 0;
  
  }
  .line-break {
      width: 100%;
    }
  div{
    padding-bottom: 5px;
  }
  
  .container {
    display: flex;  
    flex-direction: column;
   // border: black solid 1px;
    height: max-content;
    padding: 7%;
    justify-content: flex-start
    }
    button{
      float: right;
    }
  .reg{
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
  }
  
  .div-form{
      width: 30%;
      margin: auto;
      margin-top: 30px;
      border: 1px solid gray;
      border-radius: 10px;
    }
    mat-form-field{
     // padding: 2px;
      padding-left: 0%;
    }
    img{
      
      width: max-content;
      height: max-content;
    }
  .email{
    width: 100%;
      padding-bottom: 0px;
      margin-bottom: 7px
  
   }
   .password{
    width: 100%;
    margin-bottom: 0px;
   }
  
  
   ::ng-deep .mat-form-field{
    width: inherit;
  }
   ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 3px !important;}
   ::ng-deep .mat-form-field-label-wrapper {
    top: -1.2em;
    padding-top: .84375em;
  }
  
   @media screen and (max-width : 1200px){
   #dash-icon{
     display: none;
   }  
   .fname,  .pass{
    margin-right: 0px;}
   }
  