<mat-toolbar>

    <div>
      <span style="color:#4285F4">Fun</span>
      <span style="color:#EA4335">Doo</span>
      <span style="color:#FBBC05">N</span>
      <span style="color:#4285F4">o</span>
      <span style="color:#34A853">t</span>
      <span style="color:#EA4335">e</span>
      <span style="color:#4285F4">s</span>
    </div>
  
  </mat-toolbar>
  <div class="div-form">
    <div class="FunDooNotes">
      <div>
        <span style="color:#4285F4">Fun</span>
        <span style="color:#EA4335">Doo</span>
        <span style="color:#FBBC05">N</span>
        <span style="color:#4285F4">o</span>
        <span style="color:#34A853">t</span>
        <span style="color:#EA4335">e</span>
        <span style="color:#4285F4">s</span>
      </div>
      <br>
      <div>
        <span>Forgot password?</span>
      </div>
       <div>
        <span>send reset password link</span>
       </div>
       
    </div>
    
    <form [formGroup]="ForgetForm" (ngSubmit)="forget()">

        <div class="container"> 
      
          <div class="email">
            <mat-form-field class="user" appearance="outline">
              <mat-label >Email</mat-label>
              <input matInput placeholder="" formControlName="email">
              <mat-hint>You can use letters, numbers & periods</mat-hint>
            </mat-form-field>
          </div>
     
          <div class="flexBox btn-item">
   
            <button type="submit" mat-raised-button color="primary">Send</button>
          </div>
        </div>
    </form>
  </div>