<mat-card class="dis-note">
    <div class="tn">
        <div class="tp">
            <div id="up-title" contenteditable="true" data-placeholder="Title" aria-multiline="true" role="textbox" class="notranslate un-t" tabindex="0" spellcheck="true" aria-label="Title" >{{updateNote['title']}}</div>
            <div  role="button" class="u-pin" tabindex="0" aria-label="Pin note" aria-pressed="false" style="user-select: none;"></div>  
        </div>
        <div id="up-note" contenteditable="true" data-placeholder="Note" aria-multiline="true" role="textbox" class="un-n" tabindex="0" spellcheck="true" aria-label="Note">{{ updateNote['text'] }}</div>
    </div>
    <div class="nu-bottom" id="bottom" >
        <div class="nu-prop">
            <div class="reminder prop" role="button"  matTooltip="Remind me" matTooltipClass="prop-tip" matTooltipPosition='below'></div>
            <div class="collaborator prop" role="button" matTooltip="Collaborator" matTooltipPosition='below'></div>
            <div class="back-color prop" role="button" matTooltip="change color" matTooltipPosition='below'></div>
            <div class="back-image prop" role="button" matTooltip="Add image" matTooltipPosition='below'></div>
            <div class="archive prop" role="button" matTooltip="Archive" matTooltipPosition='below'></div>
            <div class="more prop" role="button" matTooltip="More" matTooltipPosition='below'></div>
            <div class="undo prop" role="button" matTooltip="Undo" matTooltipPosition='below'></div>
            <div class="redo prop" role="button" matTooltip="Redo" matTooltipPosition='below'></div>
        </div>
        <div class="close-note" >
            Close
        </div>
    </div>
</mat-card>
