.note-d, .mat-card{
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition-duration: .218s;
    transition-duration: .218s;
    -webkit-transition-property: background,border,opacity,-webkit-box-shadow,-webkit-transform;
    transition-property: background,border,opacity,box-shadow,transform;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    box-shadow: none ;
    cursor: default;
}
.note-d:hover{
    box-shadow: 0px 3px 10px 0px rgb(60 64 67 / 30%),
    0 2px 6px 2px rgb(60 64 67 / 15%) !important;
    .tool{
        opacity: 1;
    }
}
.mat-card>:last-child{
    margin-bottom: 4px;
}


.nd{
    padding: 12px;
    min-height: 60px;
    overflow: hidden;
    position: relative;
    -webkit-transition: max-height .218s ease-in;
    transition: max-height .218s ease-in; 
}
.note{
    width: 240px;
    overflow: visible;
    margin: 5px;   
}
.t{
    font-size: 1.125rem;
    font-family: Roboto,Arial,sans-serif;
}

.bot{
    align-items: center;
    color: rgba(0,0,0, .54 );
    display: flex;
    margin: 4px 0;
    flex-direction: row;
    font-size: 12px;
    line-height: 26px;
    position: relative;
    -webkit-transition: background-color .218s ease-in-out,box-shadow .218s ease-in-out;
    transition: background-color .218s ease-in-out,box-shadow .218s ease-in-out;
}
.prop:hover{
    background-color: rgb(230, 230, 230);
}
.prop{
    color: #202124;
    opacity: .71;
    margin: 0 3px;
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid transparent;
    outline: none;
}
.tool{
    box-sizing: border-box;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    opacity: 0;
    -webkit-transition-duration: .218s;
    transition-duration: .218s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.notes-main{
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    width: 100%;
    padding-top: 12px;
    //min-height: 46px;
    padding: 4px 16px 12px 16px;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-top: 12px;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
//    -webkit-line-break: after-white-space;
    direction: ltr;
    unicode-bidi: isolate;
    width:-webkit-fill-available
}

.n1{
    letter-spacing: .01428571em;
    font-weight: 400;
    line-height: 1.25rem;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    outline: none;
}
.n{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
}
