
  <div class="container">
    <div class="child">
      <div>
        <span class="color-fundoo-F" style="color:#4285F4">F</span>
        <span class="color-fundoo" style="color:#4285F4">un</span>
        <span class="color-fundoo" style="color:#EA4335">doo</span>
        <span class="color-fundoo" style="color:#FBBC05">n</span>
        <span class="color-fundoo" style="color:#4285F4">o</span>
        <span class="color-fundoo" style="color:#34A853">t</span>
        <span class="color-fundoo" style="color:#EA4335">e</span>
        <span class="color-fundoo" style="color:#4285F4">s</span>
      </div>
    </div>
    <div class="child signin">
      <span>Account recovery</span>
    </div>
    <div class="child use">
      <span>Enter your new password</span>
    </div>
    
    <form [formGroup]="resetPassword" class="child resetPasswordForm" (ngSubmit)="resetPassword.valid && ResetPassword()">
     
      <div class="password form-item">
        <mat-form-field class="new-password" appearance="outline">
          <mat-label >Password</mat-label>
          <input type="password" id="password" type="{{ isActive ? 'password' : 'text' }}" matInput placeholder="" name="password" formControlName="password">
         
          <mat-error *ngIf="resetPassword.hasError('required', 'password')">
            Please enter your new password
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="confirm-password" appearance="outline">
          <mat-label >Confirm</mat-label>
          <input type="{{ isActive ? 'password' : 'text' }}" matInput placeholder=""  formControlName="confirmPassword" [errorStateMatcher]="matcher" >

           <mat-error *ngIf="resetPassword.hasError('notSame')">
            Passwords do not match
          </mat-error>
          <mat-error *ngIf="resetPassword.hasError('required', 'confirmPassword') && !resetPassword.hasError('notSame')">
            *Required
          </mat-error>

        </mat-form-field>
        <mat-hint class="pass-hint"  >Use 8 or more characters with a mix of letters, numbers at least 1 uppercase, 1 digit & 1 symbol</mat-hint>
      </div>
      <div class="Show-password">
        <section class="example-section">
          <mat-checkbox color="primary" (change)="TogglePassword()"  >Show password</mat-checkbox>
        </section>
    
      </div>
    
      <div class="btns">
        <div class="create">
          <a [routerLink]="['/signup']" >
          Create account
          </a>
        </div>
        <div class="submit-btn">
          <button type="submit" mat-raised-button >Submit</button>
        </div>
      </div>
    </form>
  </div>