<mat-toolbar>

    <div class="title">
      <span style="color:#4285F4">Fun</span>
      <span style="color:#EA4335">Doo</span>
      <span style="color:#FBBC05">N</span>
      <span style="color:#4285F4">o</span>
      <span style="color:#34A853">t</span>
      <span style="color:#EA4335">e</span>
      <span style="color:#4285F4">s</span>
    </div>
    
    <a routerLink="/signup" routerLinkActive="active">sign up</a>
  </mat-toolbar>
  <div class="div-form">
    <div class="FunDooNotes">
      <div>
        <span style="color:#4285F4">Fun</span>
        <span style="color:#EA4335">Doo</span>
        <span style="color:#FBBC05">N</span>
        <span style="color:#4285F4">o</span>
        <span style="color:#34A853">t</span>
        <span style="color:#EA4335">e</span>
        <span style="color:#4285F4">s</span>
      </div>
      <br>
        <span>Reset password</span>
  
    </div>
    
    <form [formGroup]="resetPassword" (ngSubmit)="ResetPassword()">
     
        <div class="container"> 
      
          <div class="password">
            <mat-form-field class="pass" appearance="outline">
              <mat-label >New Password</mat-label>
              <input type="password" id="password" type="{{ isActive ? 'password' : 'text' }}" matInput placeholder="" formControlName="password">
              <mat-error *ngIf="resetPassword.hasError('required', 'password')">
                Please enter your new password
              </mat-error>
            </mat-form-field>          
          </div>
          <div class="c-password">
            <mat-form-field class="confirm" appearance="outline">
                <mat-label >Confirm</mat-label>
                <input type="{{ isActive ? 'password' : 'text' }}" matInput placeholder=""  formControlName="confirmPassword">
                <!-- <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint> -->
                <mat-error *ngIf="resetPassword.hasError('notSame')">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
          </div>

          <div class="Show-password">
            <section class="example-section">
              <mat-checkbox  (change)="TogglePassword()"  >Show password</mat-checkbox>
            </section>
        
          </div>
     
          <div class="flexBox btn-item">
   
            <button type="submit" mat-raised-button color="primary">Submit</button>
          </div>
        </div>
        
    
    </form>
  </div>